 /* ===== GLOBAL ===== */

 body {
      background: #0f172a;
      color: white;
      font-family: 'Segoe UI', sans-serif;
    }
footer {
  background: #020617;
  padding: 20px;
  text-align: center;
  font-size: 0.9rem;
  opacity: 0.7;
}

/* ===== HERO ===== */
.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(135deg, #0741AD, #2FDCB6);
}

.hero h1 {
  font-size: 3rem;
  font-weight: bold;
}

.hero p {
  font-size: 1.2rem;
  margin-top: 15px;
  opacity: 0.9;
}

/* ===== BOTONES ===== */

.btn-main {
  background-color: #0f172a;
  color: white;
  border-radius: 30px;
  padding: 10px 25px;
  margin-top: 20px;
  transition: 0.3s;
}

.btn-main:hover {
  background-color: white;
  color: #0f172a;
}

/* ===== CARDS ===== */

.card {
  background: #1e293b;
  border: none;
  border-radius: 15px;
  transition: 0.3s;
  color: white;
}

.card:hover {
  transform: translateY(-5px);
}
.section {
  padding: 80px 0;
}

